.why-choose-us-main {
  padding: 20px;
  background-color: #f7f8fa;
  h1 {
    font-size: 24px;
    color: #2f5d57;
    text-align: center;
  }
  h2 {
    font-size: 18px;
    color: #2f5d57;
    text-align: center;
  }

  p {
    text-align: center;
    margin-top: 10px;
    line-height: 1.5;
  }
  .item {
    margin-top: 30px;
  }
  img {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .why-choose-us-main {
    padding: 5%;
    display: flex;
    justify-content: space-between;

    h1 {
      text-align: start;
      font-size: 40px;
    }

    h2 {
      text-align: start;
      font-size: 26px;
    }

    p {
      text-align: start;
      max-width: 40vw;
      font-size: 20px;
      line-height: 1.7;
    }
    img {
      display: block;
      width: 30vw;
    }
  }
}
