.what-sets-us-apart-main {
  margin-top: 20px;
  margin: 40px;
  h1,
  h2 {
    text-align: start;
  }

  h1 {
    color: #043c35;
  }

  h2 {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    font-weight: bold;
    line-height: 1.7;
    // padding-left: 20px;
    // padding-right: 20px;
  }
  p {
    // padding-left: 20px;
    // padding-right: 20px;
    text-align: start;
    line-height: 1.7;
  }
}

@media screen and (min-width: 800px) {
  .what-sets-us-apart-main {
    margin-top: 100px;
    margin: 5%;
    h1 {
      font-size: 50px;
      text-align: center;
    }
    h2 {
      font-size: 23px;
      text-align: center;
    }
    p {
      font-size: 20px;
      line-height: 1.7;
      padding-left: 15%;
      padding-right: 15%;
      text-align: center;
    }
  }
}
