.what-sets-us-apart-main {
  margin-top: 20px;
  h1,
  h2 {
    text-align: center;
  }

  h1 {
    color: #043c35;
  }

  h2 {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 800px) {
  .what-sets-us-apart-main {
    margin-top: 100px;
    margin: 5%;
    h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 23px;
    }
  }
}
