.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 10px;
  box-shadow: 0 0px 10px 10px rgba(0, 0, 0, 0.219);
  z-index: 5;
  font-size: 15px;

  .brand {
    width: 120px;
    cursor: pointer;
  }

  .ce-courses {
    display: none;
    position: absolute;
    right: 150px;
    background-color: #79aa8e;
    padding: 20px;
    top: 60px;
    // display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .ce-courses-nav-mobile {
    display: flex;
  }

  .nav-menu {
    ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
      gap: 40px;

      li {
        font-family: raleway;
        font-weight: 500;
      }
    }
  }

  .mobile-menu-parent {
    position: relative;
  }
  .mobile-menu {
    display: none;
    z-index: 1;
    // list-style: none !important;
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 40px;
    background: linear-gradient(90deg, #79aa8e, #043c35);
    color: white;
    ul {
      list-style: none;
      li {
        margin-bottom: 20px;
      }
    }
  }

  .menu {
    width: 30px;
    position: relative;
    z-index: 2;
  }
}

.nav-colored {
  background: white;
}

@media screen and (max-width: 800px) {
  .nav-menu {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .nav-main {
    padding: 20px;
  }
  .ce-courses {
    position: absolute;
    display: none;
    background-color: white;
    padding: 20px;
    gap: 10px;
    flex-direction: column;
  }

  .ce-courses-nav:hover {
    .ce-courses {
      display: flex;
      right: inherit;
    }
  }

  .ce-courses:hover {
    .ce-courses {
      display: flex;
    }
  }

  .menu {
    display: none;
  }
}
