.footer-main {
  background: linear-gradient(90deg, #79aa8e, #043c35);
  color: white;
  padding: 20px;
  .footer-secondary {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-us-button {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid white;
    padding: 10px;
  }
  .contact-us-button p {
    text-align: center;
  }
  .address {
    margin-top: 20px;
  }
  .contact-us-button:active {
    background-color: white;
    color: black;
  }
  ul {
    list-style: none;
    text-align: center;

    li {
      margin-bottom: 20px;
      font-family: raleway;
    }
  }
  .copyright {
    margin: -20px;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    border-top: 1px solid white;
    p {
      font-size: 14px;
    }
  }
}

@media screen and (min-width: 800px) {
  .footer-main {
    // margin-top: -20px;
    .footer-secondary {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 8%;
    }
  }
}
