.join-course-main-div {
  .upper-div {
    background-color: #2f5d57;
    color: white;
    padding: 20px;
    text-align: center;
    p {
      margin-top: 10px;
      line-height: 1.4;
    }
  }

  img {
    width: 90vw;
  }

  .lower-div {
    background-color: #043c35;
    padding: 40px 20px;

    input {
      margin-bottom: 15px;
      padding: 15px;
      width: 100%;
      background-color: white;
      border: none;
    }

    .shop-now-button {
      background-color: #51df8e;
      //   width: fit-content;
      padding: 10px;
      text-align: center;
      p {
        font-weight: bold;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .join-course-main-div {
    display: flex;
    justify-content: space-between;
    margin-right: 5%;

    img {
      width: auto;
    }

    .upper-div {
      padding: 5%;
    }

    .lower-div {
      padding: 8%;
    }
  }
}
