.pre-licensing-first-fold-main {
  margin: 20px;

  h1 {
    color: #043c35;
  }

  img {
    width: 90vw;
  }
}

@media screen and (min-width: 800px) {
  .pre-licensing-first-fold-main {
    margin: 5%;
    display: flex;
    gap: 3vw;
  }
}
