.sponsors-main {
  img {
    max-width: 100vw;
  }
  .sponsors-desktop {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .sponsors-main {
    .sponsors {
      display: none;
    }
    .sponsors-desktop {
      display: block;
      margin-top: -10px;
    }
  }
}
